// .loginInputField {
//     border: 1px solid #FAC800;
//     border-radius: 11px;
//     top: 10px;
//   }

  
  .loginInputField {
    border: 1px solid #FAC800;
    border-radius: 11px;
    margin: 15px;
    max-width: 400px;
  //   @media screen and (min-width: 600px) {
  //       width: 400px;
  //     //   text-align: center;
  //   }
  }
  

  .btnFull{
    @media screen and (max-width: 400px) {
      min-width: 90vw;
    }
    @media screen and (min-width: 400px) {
      min-width: 35vw;
    }
    
  }