<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='this.goBack()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sign Up as Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- height='100%' -->
  <table width='100%' >
    <tr>
      <td align="center" valign='middle'>

        <!-- <ion-item class="loginInputField">
          <ion-label position='floating'>Select User Type:</ion-label>
          <ion-select placeholder='User Type' interface="action-sheet">
            <ion-select-option *ngFor='let type of userType'>{{type.label}}</ion-select-option>
          </ion-select>
        </ion-item> -->
        <div style="display: flex; padding: 15px;padding-bottom: 0px !important;">
          <ion-text style="font-size: 24px; font-weight: bold;"> <span style="border-bottom: 3px solid #FAC800;">Create </span> Account</ion-text>
        </div>

        <ion-item class="loginInputField">
          <ion-label position='floating'>First Name</ion-label>
          <ion-input placeholder='Enter First Name'></ion-input>
        </ion-item>

        <ion-item class="loginInputField">
          <ion-label position='floating'>Last Name</ion-label>
          <ion-input placeholder='Enter Last Name'></ion-input>
        </ion-item>

        <ion-item class="loginInputField">
          <ion-label position='floating'>Email</ion-label>
          <ion-input type='email' placeholder='Email address'></ion-input>
        </ion-item>

        <ion-item class="loginInputField">
          <ion-label position='floating'>Phone</ion-label>
          <ion-input type='tel' maxlength='10' placeholder='Phone Nmber'></ion-input>
        </ion-item>

        <ion-item class="loginInputField" style="display: flex; align-items: center;">
          <ion-label position='floating'>Password</ion-label>
          <ion-input [type]='passwordType' placeholder='Create Password'>
          </ion-input>
          <!-- <i class="fas fa-eye"></i> -->
          <ion-icon *ngIf='eye == true' slot='end' name="eye-outline" (click)='onEyeClick()' ></ion-icon>
          <ion-icon *ngIf='eye == false' slot='end' name="eye-off-outline" (click)='onEyeClick()' ></ion-icon>
        </ion-item>

        <ion-button expand='full' style="--background: #FAC800; color: black; margin: 15px;" shape='rounde' (click)='onSignUpClick()' >Sign Up</ion-button>

        <div style="color: #BABABA; padding: 22px; padding-top: 0px !important;">
          <ion-text >By continuing you are creating an account and accepting our <span style="color: black; border-bottom: 1px solid black;">Terms and Conditiions</span>  and <span style="color: black; border-bottom: 1px solid black;">Privacy Policy</span></ion-text>
        </div>

        <hr style="background: #BABABA;">

        <div style="height: 50px; display: flex; align-items: center; justify-content: center;">
          <ion-text style="color: black; font-size: 16px;">Already have an Account? <span style="color:#FAC800; border-bottom: 1px solid #FAC800;">Sign In</span> </ion-text>
        </div>

      </td>
    </tr>


  </table>


  

</ion-content>
