<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='goBack()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div>
    <ion-text style="font-size: 24px; font-weight: bold;"> <span style="border-bottom: 3px solid #FAC800;">Create n</span>ew password</ion-text>
  </div>

  <div>
    <ion-text style="font-style: 16px;">Please ensure your password is 8 characters long for maximum security</ion-text>
  </div>

  <ion-item class="loginInputField" style="display: flex; align-items: center;">
    <ion-label position='floating'>Password</ion-label>
    <ion-input [type]='passwordType' placeholder='Password'>
    </ion-input>
    <!-- <i class="fas fa-eye"></i> -->
    <ion-icon *ngIf='eye == true' slot='end' name="eye-outline" (click)='onEyeClick()' ></ion-icon>
    <ion-icon *ngIf='eye == false' slot='end' name="eye-off-outline" (click)='onEyeClick()' ></ion-icon>
  </ion-item>
  
  <div style="color: #F9683D; font-size: 12px; padding-top: 0px; padding-bottom: 0px;">
    <ion-text>Must be atleast 8 characters</ion-text>
  </div>


  <ion-item class="loginInputField" style="display: flex; align-items: center;">
    <ion-label position='floating'>Confirm Password</ion-label>
    <ion-input [type]='confirmpasswordType' placeholder='Password'>
    </ion-input>
    <!-- <i class="fas fa-eye"></i> -->
    <ion-icon *ngIf='confirmPasswordeye == true' slot='end' name="eye-outline" (click)='confirmPassowrdEyeClick()' ></ion-icon>
    <ion-icon *ngIf='confirmPasswordeye == false' slot='end' name="eye-off-outline" (click)='confirmPassowrdEyeClick()' ></ion-icon>
  </ion-item>

  <div style="color: #F9683D; font-size: 12px; padding-top: 0px; padding-bottom: 0px; ">
    <ion-text>Both passwords must match</ion-text>
  </div>


  <div style="padding: 15px; max-width: 430px;">
    <ion-button  style="--background: #FAC800; color: black; --border-radius: 12px; width: 100%;"   >Reset Password</ion-button>
  </div>

</ion-content>
