ion-slides {
    // height: 100%;
    width: 100%;
  }

  .header-icon{
    height: 50px;
    width: 50px;
    margin-left: 5%;
  }

  ion-label{
    margin-left: 10px !important;
    line-height: 2 !important;
  }

  .inputIcon{
    padding-left: 5px;
    font-size: 20px;
  }

  ion-slide{
    // width: 250px !important;
    height: 370px !important;

    ion-card{
      border-radius: 12px !important; 
    }
  }

  .swiper-wrapper{
    height: 350px;
  }

  .yellow-bg{
    background:var(--ion-color-primary);
  }

  .searchlist {
    width: 90%;
    margin-left: 5%;
  }