<ion-header [translucent]="true">

  <ion-toolbar color="warning">
    
    <ion-title slot="end">Google Map</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <!-- Map area  -->
  <div class="map-wrapper">
    <!-- will show the current location on map load -->
    <div id="map_center" [hidden]="showHide">
      <ion-icon style="font-size: 30px; color: red"  name="location"></ion-icon>
    </div>
    <div #map id="map"></div>
  </div>

  <!-- will the location on screen  -->
  <ion-button (click)="whereIAm()" shape="round" color="dark">
    <ion-icon slot="start" name="locate"></ion-icon>
    Where I Am
  </ion-button>

  <!-- Will start captureing coordinates -->
  <ion-button (click)="startTracking()" *ngIf="!isTracking">
    <ion-icon name="locate"></ion-icon>
    Start Tracking
  </ion-button>

  <!-- To stop  -->
  <ion-button (click)="stopTracking()" *ngIf="isTracking">
    <ion-icon name="hand-left-outline"></ion-icon>
    Stop Tracking
  </ion-button>

  <!-- will list down the paths  -->
  <ion-list>
    <ion-list-header>Previous Tracks</ion-list-header>
    <ion-item *ngFor="let route of previousTracks">
      {{ route.finished | date }}, {{ route.path.length }} Waypoints
      <button ion-button clear item-end (click)="showHistoryRoute(route.path)">View Route</button>
    </ion-item>
  </ion-list>

</ion-content>