<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='goBack()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rest Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div>
    <ion-text style="font-size: 24px; font-weight: bold;"> <span style="border-bottom: 3px solid #FAC800;">Reset Pa</span>ssword</ion-text>
  </div>

  <div>
    <ion-text style="font-style: 16px;">Please enter the email address associated with your account and we will send a verification code to reset your password</ion-text>
  </div>

  <div style="max-width: 400px;">
    <ion-input placeholder='Email' style="border: 1px solid rgba(250, 200, 0, 0.25); box-sizing: border-box; box-shadow: 3px -2px 14px rgba(11, 11, 11, 0.07); border-radius: 12px;" ></ion-input>
  </div>


  <div style="padding: 15px; max-width: 400px;">
    <ion-button  style="--background: #FAC800; color: black; --border-radius: 12px; width: 100%;"  (click)='sendCode()'  >Send Code</ion-button>
  </div>

</ion-content>
