<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='goBack()' >
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Business User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 100; text-align: center; margin-top: 30px;">
    <ion-text>Fill in the form below to get started </ion-text>
  </div>

  <ion-row>
    <ion-col size=6 style="text-align: center;">
      <ion-button [style]="venderStyle" (click)='onOwnerClic()'>I'm a Vendor</ion-button>
    </ion-col>
    <ion-col size=6 style="text-align: center;">
      <ion-button [style]="vender1Style" (click)='onCustomerClick()'>I'm a Venue</ion-button>
    </ion-col>
  </ion-row>


<!-- Vendor -->
  <div style="border: 2px solid #FAC800; margin: 10px; " *ngIf='selectedButton == "vendor"'>

    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Business Name *</ion-label>
        <ion-input placeholder='Example Hotel Grandios' [(ngModel)]='vendorBusinessName' ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>City</ion-label>
        <ion-input placeholder='New York' [(ngModel)]='vendorCity'></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Business Address *</ion-label>
        <ion-input placeholder='XXXX' [(ngModel)]='vendorBusinessAddress' ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Business Pincode *</ion-label>
        <ion-input placeholder='XXXXXX' type='tel' maxlength='6' [(ngModel)]='vendorBusinessPincode'></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Your Name *</ion-label>
        <ion-input placeholder='Luke Skywalker' [(ngModel)]='vendorName' ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Contact Number * </ion-label>
        <ion-input type='tel' maxlength='10' placeholder='Enter your mobile number' [(ngModel)]='vendorContactNumber' ></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Email *</ion-label>
        <ion-input placeholder='luke@email.com' [(ngModel)]='vendorEmail' ></ion-input>
        </ion-item>
      </ion-col>

      <!-- <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Type of Business * </ion-label>
        <ion-input placeholder='Select Business type' [(ngModel)]='vendorTypeOfBusiness' ></ion-input>
        </ion-item>
      </ion-col> -->

    </ion-row>


    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField" style="padding-bottom: 0px; margin-bottom: 0px;"> 
          <ion-label position='floating'>Business Link (optional)</ion-label>
        <ion-input placeholder='Link' [(ngModel)]='vendorBusinessLink' ></ion-input>
      </ion-item>
      <div style="font-size: 12px;  padding-top: 0px; margin-top: 0px; padding-left: 20px; padding-right: 15px;">
        <ion-text class="ion-text-wrap" >inorder for us to verify and get you onboard quickly as possible</ion-text>
      </div>
        
      </ion-col>

      <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Business Description(optional) </ion-label>
        
        <ion-textarea rows='4' placeholder='Hi .......................'  style="padding: 0px !important; margin-left: 0px !important;" [(ngModel)]='vendorBusinessDescription' ></ion-textarea>
        </ion-item>
      </ion-col>

    </ion-row>


    

    <div style="text-align: center;">
      <ion-button class="btnFull" style="--background: #FAC800; color: black; margin: 15px;"  (click)='signUpasVendor()' >Sign Up</ion-button>
    </div>

    <div style="text-align: center; padding: 15px;">
      <ion-text>By continuing you are creating an account and accepting our Terms & conditions and Privacy Policy</ion-text>
    </div>

  </div>

<!-- Venue -->
  <div style="border: 2px solid #FAC800; margin: 10px;" *ngIf='selectedButton == "venue"'>

    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Business Name *</ion-label>
        <ion-input placeholder='Example Hotel Grandios' [(ngModel)]='venueBusinessName' ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>City</ion-label>
        <ion-input placeholder='New York' [(ngModel)]='venueCity' ></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Business Address *</ion-label>
        <ion-input placeholder='XXXX' [(ngModel)]='venueBusinessAddress' ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Business Pincode *</ion-label>
        <ion-input placeholder='XXXXXX' type='tel' maxlength='6' [(ngModel)]='venueBusinessPincode'></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Your Name *</ion-label>
        <ion-input placeholder='Luke Skywalker' [(ngModel)]='venueName' ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Contact Number * </ion-label>
        <ion-input placeholder='Enter your mobile number' type='tel' maxlength='10' [(ngModel)]='venueContactNumber' ></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Email *</ion-label>
        <ion-input placeholder='luke@email.com' [(ngModel)]='venueEmail' ></ion-input>
        </ion-item>
      </ion-col>

      <!-- <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Type of Business * </ion-label>
        <ion-input placeholder='Select Business type' [(ngModel)]='venueTypeOfBusiness' ></ion-input>
        </ion-item>
      </ion-col> -->

    </ion-row>


    <ion-row>
      <ion-col size=12 size-md=5 offset-md='0.5' >
        <ion-item class="loginInputField" style="padding-bottom: 0px; margin-bottom: 0px;"> 
          <ion-label position='floating'>Business Link (optional)</ion-label>
        <ion-input placeholder='Link' [(ngModel)]='venueBusinessLink' ></ion-input>
      </ion-item>
      <div style="font-size: 12px;  padding-top: 0px; margin-top: 0px; padding-left: 20px; padding-right: 15px;">
        <ion-text class="ion-text-wrap" >inorder for us to verify and get you onboard quickly as possible</ion-text>
      </div>
        
      </ion-col>

      <ion-col size=12 size-md=5 offset-md='1' >
        <ion-item class="loginInputField">
          <ion-label position='floating'>Business Description(optional) </ion-label>
        
        <ion-textarea rows='4' placeholder='Hi .......................'  style="padding: 0px !important; margin-left: 0px !important;" [(ngModel)]='venueBusinessDescription' ></ion-textarea>
        </ion-item>
      </ion-col>

    </ion-row>


    

    <div style="text-align: center;">
      <ion-button class="btnFull" style="--background: #FAC800; color: black; margin: 15px;"  (click)='signUpasVenue()' >Sign Up</ion-button>
    </div>

    <div style="text-align: center; padding: 15px;">
      <ion-text>By continuing you are creating an account and accepting our Terms & conditions and Privacy Policy</ion-text>
    </div>

  </div>

</ion-content>